<link rel="stylesheet" href="css/loginRegister.css">
<div class="panel panel-default" ng-Controller="FollowGroupCtrl as followGroup">
    <!-- <div class="panel-heading">Register</div> -->
    <!-- <div class="panel-body"> -->
    <div id="login-signup">
        <!-- <div class="bg-gray-light"> -->
        <div class="py6">
            <div class="new-group-form">
                <div class="rounded-content-frame">
                    <div class="rounded-content-frame_content" id="signup">
                        <h2 class="title">Follow Group</h2>
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group control-group">
                                    <!-- Price -->
                                    <label for="price" class="col-sm-2 right">Price</label>
                                    <div class="col-sm-10">
                                        <label for="pricemomey" class="col-sm-2 right">{{followGroup.order.price}}</label>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <!-- Order number -->
                                    <label for="category" class="col-sm-2 right">Order Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="category" name="category" placeholder="Order Number" class="input-text form-control" ng-model="followGroup.order.order_number" required>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <label for="check" class="col-sm-2 right">Same As Me</label>
                                    <div class="col-sm-10 ">
                                        <input type="checkbox" ng-model="confirmed" ng-change="followGroup.fill()" id="ng-change-example1" />
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <!-- Receiver Name-->
                                    <label for="name" class="col-sm-2 right">Receiver Name</label>
                                    <div class="col-sm-10 ">
                                        <input type="text" id="name" name="name" placeholder="Receiver Name" class="input-text form-control" ng-model="followGroup.order.receiver_name" required>
                                    </div>
                                </div>
                                
                                <div class="form-group control-group">
                                    <!-- Address-->
                                    <label for="address" class="col-sm-2 right">Receiver Address</label>
                                    <div class="col-sm-10 ">
                                        <input type="text" id="address" name="address" placeholder="Receiver Address" class="input-text form-control" ng-model="followGroup.order.receiver_address" required>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <!-- Phone-->
                                    <label for="Phone" class="col-sm-2 right">Receiver Phone</label>
                                    <div class="col-sm-10 ">
                                        <input id="Phone" name="Phone" placeholder="Receiver Phone" class="input-text form-control" ng-model="followGroup.order.receiver_phone" required></textarea>
                                    </div>
                                </div>
                                                                
                                <div class="control-group">
                                    <!-- Button -->
                                    <button class="btn btn-success btn-block" ng-click="followGroup.doOrder()" data-toggle="modal" data-target="">Order now!</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- <div class="rounded-content-frame_footer">
                        Have an account?
                        <a href="#/login">Log in</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <!-- </div> -->
</div>