<link rel="stylesheet" href="css/loginRegister.css">
<div class="panel panel-default">
    <!-- <div class="panel-heading">Register</div> -->
    <!-- <div class="panel-body"> -->
    <div id="countmein ">
        <div class="py10">
            <div class="main_content">
                <div id="content-wrap">
                    <div class="NS_site__homepage_staff_picks py2 bg-grey-light ">
                        <div class="container-flex px2 py2 relative">
                            <!-- project Name&publisher -->
                            <div class="row pt4 cneter">
                                <div class="col-md-12 ">
                                    <h2 class="h3 mb0 normal">
                                        <a class="green-dark" href="">A Woman, A Part, a film by Elisabeth Subrin</a>
                                    </h2>
                                    <p class="h6 grey-dark mobile-hide">by Elisabeth Subrin</p>
                                </div>
                            </div>
                            <!-- project header part-->
                            <div class="row">
                                <div class="col-md-12 green-dark">
                                    <div class="has_potd js-projects-slider projects-slider" id="project-slide">
                                        <div class="row">
                                            <div class="col col-12 no-margin potd project project0 relative selected">
                                                <!-- project-card item-->
                                                <div class="project-card-wrap project-card-wide-wrap bg-white rounded clip border list-item">
                                                    <div class="row project-card py2">
                                                        <!-- picture -->
                                                        <div class="col col-md-8 item-thumbnail ">
                                                            <a href="">
                                                                <img alt="Project image" height="240" src="https://ksr-ugc.imgix.net/projects/2150747/photo-original.png?v=1449533728&amp;w=560&amp;h=420&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=763215423d16a3aafc368fe1ef4778f6" width="320">
                                                            </a>
                                                        </div>
                                                        <!-- information -->
                                                        <div class=" col col-md-4 relative ">
                                                            <div class="project-stats-item">
                                                                <ul class="project-stats-item list pa0 ">
                                                                    <li class="backers mr2 li-p-none mobile-hide">
                                                                        <strong class="block h4"><h1>380</h1></strong> <span class="grey-dark">backers</span>
                                                                    </li>
                                                                    <li class="pledged mr2 li-p-none">
                                                                        <strong class="block h4"><h1>$31,314</h1></strong> <span class="grey-dark">pledged</span>
                                                                    </li>
                                                                    <li class=" mr2 li-p-none ksr_page_timer " data-end_time="2016-01-08T20:40:00-05:00">
                                                                        <strong class="block h6"><h1>5</h1></strong>
                                                                        <div class="span text grey-dark" data-word="left">days to go</div>
                                                                    </li>
                                                                    <li class="last mr2 li-p-none total" >
                                                                        <strong class="block h6"><h1>$520</h1></strong>
                                                                        <div class="span text grey-dark" data-word="left">total</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- project header part-->
                            <div class="row py2">
                                <div class="col-md-12 bg-orange-light">
                                    <!-- spec1 -->
                                    <div class="row border-b py2">
                                        <div class="col col-md-3  ">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>Spec1</h2></strong>
                                            <span class="grey-dark">pink / L</span>
                                        </div>
                                         <div class="col col-md-3  ">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>$200</h2></strong>
                                            <span class="grey-dark">each</span>
                                        </div>
                                        <div class="col col-md-3  ">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>*2</h2></strong>
                                            <span class="grey-dark">quantity</span>
                                        </div>
                                        <div class="col col-md-3  ">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>=$400</h2></strong>
                                            <!-- <span class="grey-dark">pink / L</span> -->
                                        </div>
                                    </div>
                                    <!-- spec2 -->
                                    <div class="row border-b py2">
                                        <div class="col col-md-3">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>Spec2</h2></strong>
                                            <span class="grey-dark">pink / L</span>
                                        </div>
                                         <div class="col col-md-3">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>$120</h2></strong>
                                            <span class="grey-dark">each</span>
                                        </div>
                                        <div class="col col-md-3">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>*1</h2></strong>
                                            <span class="grey-dark">quantity</span>
                                        </div>
                                        <div class="col col-md-3">
                                            <!-- <h2>Spec1</h2> -->
                                            <strong class="h4"><h2>=$120</h2></strong>
                                            <!-- <span class="grey-dark">pink / L</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ">
                    </div>
                    <div class=" ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>