<link rel="stylesheet" href="css/loginRegister.css">
<div class="panel panel-default">
    <div id="countmein ">
        <div class="py10">
            <div class="main_content">
                <div id="content-wrap">
                    <div class="item active">
                        <div id="group">
                            <div>
                                <h1>Group name: {{group.group_name}}</h1>
                                <img src="{{group.item.image}}" alt="Taro_custard">
                                <p>There are dense taro stuffing.</p>
                                <br>
                            </div>
                            <div>
                                <table class="table" style="word-break:break-all" style="width:50%" id="SMSsendTable">
                                    <thead>
                                        <tr>
                                            <th style="width:15%"></th>
                                            <th style="width:15%"></th>
                                        </tr>
                                    </thead>
                                    <tbody align="left">
                                        <tr>
                                            <td>Price</td>
                                            <td>{{group.item.price}}</td>
                                        </tr>
                                        <tr>
                                            <td>Specification</td>
                                            <td>{{group.item.item_specification}}</td>
                                        </tr>
                                        <tr>
                                            <td>Start time</td>
                                            <td>{{group.start_date}}</td>
                                        </tr>
                                        <tr>
                                            <td>Due time</td>
                                            <td>{{group.due_date}}</td>
                                        </tr>
                                        <tr>
                                            <td>Number threshold</td>
                                            <td>{{group.number_threshold}}</td>
                                        </tr>
                                        <tr>
                                            <td>group status</td>
                                            <td>{{group.group_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="btn-follow" type="submit" ng-show="isLogin" ng-click="go()">Count me in!</button>
                </div>
            </div>
        </div>
    </div>
</div>
