<link rel="stylesheet" href="css/loginRegister.css">
<div class="panel panel-default">
    <!-- <div class="panel-heading">Register</div> -->
    <!-- <div class="panel-body"> -->
    <div id="countmein ">
        <div class="py10">
            <div class="main_content">
                
                <div id="content-wrap">
                    <!-- part1:New & Noteworthy-->
                    <div class="NS_site__homepage_staff_picks py2 bg-grey-light ">
                        <div class="container-flex px2 py2 relative">
                            <!-- Category -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="h3 mb0 normal">
                                            <a class="green-dark" href="/discover/popular?ref=popular">Category：Art</a>
                                        </h2>
                                </div>
                            </div>
                            <div class="row">
                                <!-- nar-left -->
                                <div class="col-md-10">
                                    <!-- the goods list of this Category -->
                                    <div class="NS_site__homepage_popular py4" id="trending-projects">
                                        <!-- title -->
                                        <div class="container-flex px2 py2">
                                            <div class="title-card pb2">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h2 class="h3 mb0 normal">
                                            <a class="green-dark" href="/discover/popular?ref=popular">New & Noteworthy</a>
                                        </h2>
                                                    </div>
                                                    <div class="col-md-6 right">
                                                        <!--  <a class="btn btn--border-gray btn--small" href="/discover/popular?ref=popular">See all</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card list-->
                                        <div class="container-flex px2 mobile-scroll-container pb2">
                                            <div class="row mobile-scroll-row">
                                                <!-- card -->
                                                <div class="mobile-scroll-row-item col col-md-4">
                                                    <div class="js-score-tracking project-card project-card-tall-big" data-project="{&quot;id&quot;:1888007058}">
                                                        <!-- project-thumbnail -->
                                                        <div class="thumbnail ">
                                                            <a data-pid="1888007058" href="/projects/1240773579/joan-cornella-animation-project?ref=home_popular" target="">
                                                                <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/projects/2228429/photo-original.png?v=1449937730&amp;w=338&amp;h=250&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=4af3715fd98f97736e4a6dfa0f54f09a" width="100%">
                                                            </a>
                                                        </div>
                                                        <!-- project-card-content -->
                                                        <div class="project-card-content">
                                                            <h6 class="project-title"><a data-pid="1888007058" data-score="null" data-version="null" href="/projects/1240773579/joan-cornella-animation-project?ref=home_popular" target="">Joan Cornellà Animation Project</a></h6>
                                                            <p class="project-byline">Joan Cornellà</p>
                                                            <p class="project-blurb">
                                                                A collection of animated videos based on Joan Cornellà's comic strips.
                                                            </p>
                                                        </div>
                                                        <div class="project-card-footer">
                                                            <div class="project-stats-container">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                                                        <span class="sr-only">90% Complete (warning)</span>
                                                                    </div>
                                                                </div>
                                                                <ul class="project-stats">
                                                                    <li>
                                                                        <div class="project-stats-value">93%</div> <span class="project-stats-label">funded</span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="project-stats-value"><span class="money eur no-code">€74,704</span></div> <span class="project-stats-label">pledged</span>
                                                                    </li>
                                                                    <li style="display: none;">
                                                                        <div class="project-stats-value">Funded</div>
                                                                        <span class="project-stats-label"></span>
                                                                    </li>
                                                                    <li class="ksr_page_timer" data-end_time="2016-01-10T10:00:00-05:00">
                                                                        <div class="project-stats-value">
                                                                            <div class="num">7</div>
                                                                        </div>
                                                                        <div class="project-stats-label text" data-word="left">days to go</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- card -->
                                                <div class="mobile-scroll-row-item col col-md-4">
                                                    <div class="js-score-tracking project-card project-card-tall-big" data-project="{&quot;id&quot;:377568883}">
                                                        <div class="thumbnail">
                                                            <a data-pid="377568883" href="/projects/1517771394/ruddur-dance-goes-to-africa?ref=home_popular" target="">
                                                                <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/projects/2243515/photo-original.JPG?v=1450404174&amp;w=338&amp;h=250&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=2bcebbca1f4f59218a33bcd3bc98d015" width="100%">
                                                            </a>
                                                        </div>
                                                        <div class="project-card-content">
                                                            <h6 class="project-title"><a data-pid="377568883" data-score="null" data-version="null" href="/projects/1517771394/ruddur-dance-goes-to-africa?ref=home_popular" target="">RudduR Dance Goes to Africa</a></h6>
                                                            <p class="project-byline">Christopher Rudd</p>
                                                            <p class="project-blurb">
                                                                RudduR Dance has been invited to present at the 2016 Ouagadougou International Dance Festival (FIDO) in Burkina Faso Africa
                                                            </p>
                                                        </div>
                                                        <div class="project-card-footer">
                                                            <div class="project-stats-container">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                                                        <span class="sr-only">30% Complete (warning)</span>
                                                                    </div>
                                                                </div>
                                                                <ul class="project-stats">
                                                                    <li>
                                                                        <div class="project-stats-value">26%</div> <span class="project-stats-label">funded</span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="project-stats-value"><span class="money usd no-code">$2,822</span></div> <span class="project-stats-label">pledged</span>
                                                                    </li>
                                                                    <li style="display: none;">
                                                                        <div class="project-stats-value">Funded</div>
                                                                        <span class="project-stats-label"></span>
                                                                    </li>
                                                                    <li class="ksr_page_timer" data-end_time="2016-01-20T21:00:04-05:00">
                                                                        <div class="project-stats-value">
                                                                            <div class="num">17</div>
                                                                        </div>
                                                                        <div class="project-stats-label text" data-word="left">days to go</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- card -->
                                                <div class="mobile-scroll-row-item col col-md-4">
                                                    <div class="js-score-tracking project-card project-card-tall-big" data-project="{&quot;id&quot;:1897028933}">
                                                        <div class="thumbnail">
                                                            <a data-pid="1897028933" href="/projects/revols/revols-premium-quick-custom-fit-wireless-earphones?ref=home_popular" target="">
                                                                <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/projects/2169311/photo-original.jpg?v=1446611651&amp;w=338&amp;h=250&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=3f82e2bd1acbe46a8404e359f78088d1" width="100%">
                                                            </a>
                                                        </div>
                                                        <div class="project-card-content">
                                                            <h6 class="project-title"><a data-pid="1897028933" data-score="null" data-version="null" href="/projects/revols/revols-premium-quick-custom-fit-wireless-earphones?ref=home_popular" target="">Revols - Premium Quick Custom-Fit Wireless Earphones</a></h6>
                                                            <p class="project-byline">Revols</p>
                                                            <p class="project-blurb">
                                                                Bluetooth earphones with tips that mold to the unique shape of your ears in 60 seconds. Unparalleled fit, comfort, sound and features.
                                                            </p>
                                                        </div>
                                                        <div class="project-card-footer">
                                                            <div class="project-stats-container">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                                        <span class="sr-only">100% Complete (warning)</span>
                                                                    </div>
                                                                </div>
                                                                <ul class="project-stats">
                                                                    <li>
                                                                        <div class="project-stats-value">1713%</div> <span class="project-stats-label">funded</span>
                                                                    </li>
                                                                    <li>
                                                                        <div class="project-stats-value"><span class="money usd no-code">$1,713,736</span></div> <span class="project-stats-label">pledged</span>
                                                                    </li>
                                                                    <li style="display: none;">
                                                                        <div class="project-stats-value">Funded</div>
                                                                        <span class="project-stats-label"></span>
                                                                    </li>
                                                                    <li class="ksr_page_timer" data-end_time="2016-01-08T07:57:15-05:00">
                                                                        <div class="project-stats-value">
                                                                            <div class="num">5</div>
                                                                        </div>
                                                                        <div class="project-stats-label text" data-word="left">days to go</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- nar-right -->
                                <div class="col-md-2 pt4">
                                    <div class="js-category-nav category-nav border-left mt2 mb2 ml1 mr1">
                                        <ul class="nav nav-stacked h5 list " id="getul">
                                            <li class="active">
                                                <a class="green-dark link" href="">Art</a>
                                            </li>
                                            <li class>
                                                <a class="green-dark link" href="">Comics</a>
                                            </li>
                                            <li>
                                                <a class="green-dark link">Dance</a>
                                            </li>
                                            <li>
                                                <a class="green-dark link">Design</a>
                                            </li>
                                            <li>
                                                <a class="green-dark link">Fasion</a>
                                            </li>
                                            <li>
                                                <a class="green-dark link">Food</a>
                                            </li>
                                            <li>
                                                <a class="green-dark link">Game</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" ">
                        </div>
                        <div class=" ">
                        </div>
                    </div>
                    <!-- part2:the goods list of this Category-->
                    <div class="NS_site__homepage_popular py4" id="trending-projects">
                        <!-- title -->
                        <div class="container-flex px2 py2">
                            <div class="title-card pb2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="h3 mb0 normal">
                                            <a class="green-dark" href="/discover/popular?ref=popular">Explore 20 live Group</a>
                                        </h2>
                                    </div>
                                    <div class="col-md-6 right">
                                        <!-- <a class="btn btn--border-gray btn--small" href="/discover/popular?ref=popular">See all</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card list-->
                        <div class="container-flex px2 mobile-scroll-container pb2">
                            <div class="row mobile-scroll-row">
                                <!-- card -->
                                <div class="mobile-scroll-row-item col col-md-3">
                                    <div class="js-score-tracking project-card project-card-tall-big" data-project="{&quot;id&quot;:1888007058}">
                                        <!-- project-thumbnail -->
                                        <div class="thumbnail ">
                                            <a data-pid="1888007058" href="/projects/1240773579/joan-cornella-animation-project?ref=home_popular" target="">
                                                <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/projects/2228429/photo-original.png?v=1449937730&amp;w=338&amp;h=250&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=4af3715fd98f97736e4a6dfa0f54f09a" width="100%">
                                            </a>
                                        </div>
                                        <!-- project-card-content -->
                                        <div class="project-card-content">
                                            <h6 class="project-title"><a data-pid="1888007058" data-score="null" data-version="null" href="/projects/1240773579/joan-cornella-animation-project?ref=home_popular" target="">Joan Cornellà Animation Project</a></h6>
                                            <p class="project-byline">Joan Cornellà</p>
                                            <p class="project-blurb">
                                                A collection of animated videos based on Joan Cornellà's comic strips.
                                            </p>
                                        </div>
                                        <div class="project-card-footer">
                                            <div class="project-stats-container">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                                        <span class="sr-only">90% Complete (warning)</span>
                                                    </div>
                                                </div>
                                                <ul class="project-stats">
                                                    <li>
                                                        <div class="project-stats-value">93%</div> <span class="project-stats-label">funded</span>
                                                    </li>
                                                    <li>
                                                        <div class="project-stats-value"><span class="money eur no-code">€74,704</span></div> <span class="project-stats-label">pledged</span>
                                                    </li>
                                                    <li style="display: none;">
                                                        <div class="project-stats-value">Funded</div>
                                                        <span class="project-stats-label"></span>
                                                    </li>
                                                    <li class="ksr_page_timer" data-end_time="2016-01-10T10:00:00-05:00">
                                                        <div class="project-stats-value">
                                                            <div class="num">7</div>
                                                        </div>
                                                        <div class="project-stats-label text" data-word="left">days to go</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="mobile-scroll-row-item col col-md-3">
                                    <div class="js-score-tracking project-card project-card-tall-big" data-project="{&quot;id&quot;:377568883}">
                                        <div class="thumbnail">
                                            <a data-pid="377568883" href="/projects/1517771394/ruddur-dance-goes-to-africa?ref=home_popular" target="">
                                                <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/projects/2243515/photo-original.JPG?v=1450404174&amp;w=338&amp;h=250&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=2bcebbca1f4f59218a33bcd3bc98d015" width="100%">
                                            </a>
                                        </div>
                                        <div class="project-card-content">
                                            <h6 class="project-title"><a data-pid="377568883" data-score="null" data-version="null" href="/projects/1517771394/ruddur-dance-goes-to-africa?ref=home_popular" target="">RudduR Dance Goes to Africa</a></h6>
                                            <p class="project-byline">Christopher Rudd</p>
                                            <p class="project-blurb">
                                                RudduR Dance has been invited to present at the 2016 Ouagadougou International Dance Festival (FIDO) in Burkina Faso Africa
                                            </p>
                                        </div>
                                        <div class="project-card-footer">
                                            <div class="project-stats-container">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                                        <span class="sr-only">30% Complete (warning)</span>
                                                    </div>
                                                </div>
                                                <ul class="project-stats">
                                                    <li>
                                                        <div class="project-stats-value">26%</div> <span class="project-stats-label">funded</span>
                                                    </li>
                                                    <li>
                                                        <div class="project-stats-value"><span class="money usd no-code">$2,822</span></div> <span class="project-stats-label">pledged</span>
                                                    </li>
                                                    <li style="display: none;">
                                                        <div class="project-stats-value">Funded</div>
                                                        <span class="project-stats-label"></span>
                                                    </li>
                                                    <li class="ksr_page_timer" data-end_time="2016-01-20T21:00:04-05:00">
                                                        <div class="project-stats-value">
                                                            <div class="num">17</div>
                                                        </div>
                                                        <div class="project-stats-label text" data-word="left">days to go</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="mobile-scroll-row-item col col-md-3">
                                    <div class="js-score-tracking project-card project-card-tall-big" data-project="{&quot;id&quot;:1897028933}">
                                        <div class="thumbnail">
                                            <a data-pid="1897028933" href="/projects/revols/revols-premium-quick-custom-fit-wireless-earphones?ref=home_popular" target="">
                                                <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/projects/2169311/photo-original.jpg?v=1446611651&amp;w=338&amp;h=250&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=3f82e2bd1acbe46a8404e359f78088d1" width="100%">
                                            </a>
                                        </div>
                                        <div class="project-card-content">
                                            <h6 class="project-title"><a data-pid="1897028933" data-score="null" data-version="null" href="/projects/revols/revols-premium-quick-custom-fit-wireless-earphones?ref=home_popular" target="">Revols - Premium Quick Custom-Fit Wireless Earphones</a></h6>
                                            <p class="project-byline">Revols</p>
                                            <p class="project-blurb">
                                                Bluetooth earphones with tips that mold to the unique shape of your ears in 60 seconds. Unparalleled fit, comfort, sound and features.
                                            </p>
                                        </div>
                                        <div class="project-card-footer">
                                            <div class="project-stats-container">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">100% Complete (warning)</span>
                                                    </div>
                                                </div>
                                                <ul class="project-stats">
                                                    <li>
                                                        <div class="project-stats-value">1713%</div> <span class="project-stats-label">funded</span>
                                                    </li>
                                                    <li>
                                                        <div class="project-stats-value"><span class="money usd no-code">$1,713,736</span></div> <span class="project-stats-label">pledged</span>
                                                    </li>
                                                    <li style="display: none;">
                                                        <div class="project-stats-value">Funded</div>
                                                        <span class="project-stats-label"></span>
                                                    </li>
                                                    <li class="ksr_page_timer" data-end_time="2016-01-08T07:57:15-05:00">
                                                        <div class="project-stats-value">
                                                            <div class="num">5</div>
                                                        </div>
                                                        <div class="project-stats-label text" data-word="left">days to go</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="mobile-scroll-row-item col col-md-3">
                                    <div class="js-score-tracking project-card project-card-tall-big" data-project="{&quot;id&quot;:1897028933}">
                                        <div class="thumbnail">
                                            <a data-pid="1897028933" href="/projects/revols/revols-premium-quick-custom-fit-wireless-earphones?ref=home_popular" target="">
                                                <img alt="Project image" class="project-thumbnail-img" src="https://ksr-ugc.imgix.net/projects/2169311/photo-original.jpg?v=1446611651&amp;w=338&amp;h=250&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=3f82e2bd1acbe46a8404e359f78088d1" width="100%">
                                            </a>
                                        </div>
                                        <div class="project-card-content">
                                            <h6 class="project-title"><a data-pid="1897028933" data-score="null" data-version="null" href="/projects/revols/revols-premium-quick-custom-fit-wireless-earphones?ref=home_popular" target="">Revols - Premium Quick Custom-Fit Wireless Earphones</a></h6>
                                            <p class="project-byline">Revols</p>
                                            <p class="project-blurb">
                                                Bluetooth earphones with tips that mold to the unique shape of your ears in 60 seconds. Unparalleled fit, comfort, sound and features.
                                            </p>
                                        </div>
                                        <div class="project-card-footer">
                                            <div class="project-stats-container">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">100% Complete (warning)</span>
                                                    </div>
                                                </div>
                                                <ul class="project-stats">
                                                    <li>
                                                        <div class="project-stats-value">1713%</div> <span class="project-stats-label">funded</span>
                                                    </li>
                                                    <li>
                                                        <div class="project-stats-value"><span class="money usd no-code">$1,713,736</span></div> <span class="project-stats-label">pledged</span>
                                                    </li>
                                                    <li style="display: none;">
                                                        <div class="project-stats-value">Funded</div>
                                                        <span class="project-stats-label"></span>
                                                    </li>
                                                    <li class="ksr_page_timer" data-end_time="2016-01-08T07:57:15-05:00">
                                                        <div class="project-stats-value">
                                                            <div class="num">5</div>
                                                        </div>
                                                        <div class="project-stats-label text" data-word="left">days to go</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>