<link rel="stylesheet" href="css/loginRegister.css">
<div class="panel panel-default" ng-Controller="NewGroupCtrl as newGourp">
    <!-- <div class="panel-heading">Register</div> -->
    <!-- <div class="panel-body"> -->
    <div id="login-signup">
        <!-- <div class="bg-gray-light"> -->
        <div class="py6">
            <div class="new-group-form">
                <div class="rounded-content-frame">
                    <div class="rounded-content-frame_content" id="signup">
                        <h2 class="title">New Group</h2>
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group control-group">
                                    <!-- Category -->
                                    <label for="category" class="col-sm-2 right">Category</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="category" name="category" placeholder="Category" class="input-text form-control" ng-model="newGourp.group.category" required>
                                        <!--  <p class="help-block">Please provide your E-mail</p> -->
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <!-- Group Name-->
                                    <label for="name" class="col-sm-2 right">Group Name</label>
                                    <div class="col-sm-10 ">
                                        <input type="text" id="name" name="name" placeholder="Group Name" class="input-text form-control" ng-model="newGourp.group.group_name" required>
                                        <!-- <p class="help-block">Password should be at least 4 characters</p> -->
                                    </div>
                                </div>
                                <!-- Item Name-->
                                <div class="form-group control-group">
                                    <label for="item" class="col-sm-2 right">Item Name</label>
                                    <div class="col-sm-10 ">
                                        <input type="text" id="item" name="item" placeholder="Item Name" class="input-text form-control" ng-model="newGourp.group.item_name" required>
                                    </div>
                                </div>

                                <!-- Number Threshold-->
                                <div class="form-group control-group">
                                    <label for="number_threshold" class="col-sm-2 right">Number Threshold</label>
                                    <div class="col-sm-10 ">
                                        <input type="text" id="number_threshold" name="number_threshold" placeholder="Number Threshold" class="input-text form-control" ng-model="newGourp.group.number_threshold" required>
                                    </div>
                                </div>
                                
                                <div class="form-group control-group">
                                    <!-- Due Date-->
                                    <label for="deadline" class="col-sm-2 right">Due Date</label>
                                    <div class="col-sm-10 ">
                                        <input type="text" id="date" name="date" placeholder="Due Date" class="input-text form-control" ng-model="newGourp.group.due_date" required>
                                        <!-- <p class="help-block">Password should be at least 4 characters</p> -->
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <!-- descript-->
                                    <label for="descript" class="col-sm-2 right">Descript</label>
                                    <div class="col-sm-10 ">
                                        <textarea id="descript" name="descript" placeholder="descript" class="input-text form-control" ng-model="newGourp.group.item_description" required rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <!-- Spec1-->
                                    <label for="password_confirm" class="col-sm-2 right">Spec</label>
                                    <div class="col-sm-10 form-inline">
                                        <input type="text" id="sepc-description" name="sepc-description" placeholder="sepc-description" class="input-text form-control" ng-model="newGourp.group.item_specification" required>
                                        <input type="text" id="price" name="price" placeholder="price$$" class="input-text form-control" ng-model="newGourp.group.price" required>
                                        <!-- <p class="help-block">Please confirm password</p> -->
                                    </div>
                                </div>
                                <!-- picture-->
                                <!-- <div class="form-group control-group">
                                    <label for="picture" class="col-sm-2 right">picture</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="picture" name="picture" placeholder="picture" class="input-text form-control" ng-model="" required>
                                    </div>
                                </div> -->
                                
                                <div class="control-group">
                                    <!-- Button -->
                                    <button class="btn btn-success btn-block" ng-click="newGourp.doCreate()" data-toggle="modal" data-target="">Create a Group now!</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- <div class="rounded-content-frame_footer">
                        Have an account?
                        <a href="#/login">Log in</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <!-- </div> -->
</div>