<link rel="stylesheet" href="css/loginRegister.css">
<div class="panel panel-default">
    <!-- <div class="panel-heading">Register</div> -->
    <!-- <div class="panel-body"> -->
    <div id="notice">
        <div class="bg-gray-light">
            <div class="py6">
                <div class="system-notices-form">
                    <div class="rounded-content-frame">
                        <div class="rounded-content-frame_content" id="notice">
                            <!-- Verify Email Address -->
                            <!-- <h2 class="title">Verify Email Address</h2>
                            <div class="notice-text">
                                <p>Welcome to join Count me in,
                                    <br/> please go to your email address which you sign up, and verify your email address.
                                </p>
                            </div> -->
                            <!-- Account Confirmation -->
                            <h2 class="title">Account Confirmation</h2>
                            <div class="notice-text">
                                <p>
                                    Thank you, the authentication is successful,
                                    <br/> Began to experience it now!
                                </p>
                            </div>
                            <div class="control-group">
                                <!-- Button -->
                                <button class="btn btn-success" ng-click="go('/login')">Log me in!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>